# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Данные пайплайна
data/cache/
data/check_results.json
data/configs.json
data/stats.json
data/proxy_urls.txt

# Окружение
.venv/
venv/

# IDE
.vscode/
.idea/
.DS_Store

# Логи
*.log
